*{ 
   padding: 0;
   margin: 0;
}

body{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    background-image: url(/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color:hsl(225, 100%, 94%) ;
    font-size: 16px;
    background-size: cover;
    
}

.order-summary {
    background-color: hsl(225, 100%, 98%);
    width: 450px;
    height: 680px;
    max-width: 450px;
    min-width: 300px;
    margin:80px auto;
    border-radius: 15px;
    text-align: center;
}
 .music-plan{
    background-color: hsl(225, 100%, 96%);
    border: none;
    border-radius: 10px;
    width: 70%;
    margin: 20px auto;
    padding: 20px;
 }

.cancel{
      margin-top: 20px;
      margin-bottom: 30px;
      font-weight: 600;
      font-size:17px;
      text-decoration: dotted;
      color: rgba(34, 32, 32, 0.936);
  }
  
  .cancel:hover{
    font-weight: normal;  
    cursor: pointer;
  }
 

 .order-summary > img{
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
 }
h1{
   margin-top: 30px;
   margin-bottom: 20px;
}
 
 .clearfix{
   text-align: initial;
   display: grid;
   width: 80%;
   
 }

 .change{
   text-align: right;
   margin-top: -35px;
   margin-right:-60px ;
   font-weight: 600;
   cursor: pointer;
 }

 h3{
   margin-top:-45px;
   margin-left: 60px;
 }

 span{
   margin-top: -20px;
   margin-left: 60px;
 }
 

  button{
   width: 80%;
   margin: 20px auto;
   padding: 15px ;
   border: solid 1px;
   border-radius: 12px;
   text-transform: capitalize;
   font-weight: 600;
   cursor: pointer;
   background-color: blue;
   color: white;
   box-shadow: 0px 15px hsla(228, 83%, 49%, 0.05);
  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
